.app{
  display: flex;
  justify-self: space-around;
  align-self: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.colorbox{

  width: 75vw;
  height: 50vh;
/* background-color: #ec2c2c;*/ 
  display: flex;
  justify-self: space-around;
  align-self: center;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  height: 5vh;
}

button{
  color: rgb(49, 214, 76);
  background-color: beige;
  transition: background-color 0.5s;
}
button:hover
{
  background-color: rgba(255, 0, 111, 0.537);
  cursor: pointer;
}